<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cravings</title>
</head>
<body class="bg-zinc-900 text-white">
    <nav class="bg-transparent">
        <div>
            <!-- Logo Image -->
            <img src="" alt="">
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li>Menu</li>
                <li>Recepies</li>
                <li>Contact</li>
            </ul>
        </div>
        <div>
            <!-- Cart icon -->
            <img src="" alt="">

            <!-- Order -->
            <img src="" alt="">

        </div>
    </nav>
    <!-- Hero section -->
    <section>
        <!-- Text -->
        <div></div>
        <!-- Hero Image -->
        <div></div>
    </section>

</body>
</html>