<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cravings</title>
</head>
<body class="bg-zinc-900 text-white">
    <nav class="mx-2 mr-8 my-4 flex flex-row justify-evenly text-sm">
        <img src="{% static 'Shop/images/logo-dark.png' %}" class="h-10 w-10 flex flex-row justify-start items-center"alt="">
        <ul class="flex flex-row justify-end items-center">
            <li class="mx-4">Home</li>
            <!-- active link when on home or "/" -->
            <li class="mx-4">Menu</li>
            <!-- menu will be adropdown with veg non veg menus -->
            <li class="mx-4">Reservations</li>
            <!-- seperate page -->
            <li class="mx-4">Blog</li>
            <!-- different app -->
            <li class="mx-4">Contact</li>
            <!-- page -->
        </ul>
    </nav>
      
    <!-- Hero section -->
    <section>
        <!-- Text -->
        <div></div>
        <!-- Hero Image -->
        <div>
            <img src="" alt="">
            <button></button>
        </div>
    </section>

</body>
</html>