<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Test</title>
</head>
<body class="bg-[url('../static/Shop/images/tests/newbg.png')] text-gray-200">
    <nav class="mx-48 pt-0 flex justify-between text-amber-200 items-start text-sm">
        <img src = "{% static 'Shop\images\logo-dark.png' %}" class="h-36 w-36 relative -mt-8" alt="">
        <ul class="my-6 flex justify-between items-start">
            <li class="mx-4">Home</li>
            <li class="mx-4">Menu</li>
            <!-- menu will be adropdown with veg non veg menus -->
            <li class="mx-4">Reservations</li>
            <!-- seperate page -->
            <li class="mx-4">Blog</li>
            <!-- different app -->
            <li class="mx-4">Contact</li>
            <!-- page -->
        </ul>
    </nav>
    <!-- Hero section -->
        <!-- Hero Image -->
        <section class="flex justify-between justify-items-center">
            <!-- left text -->
            <div class="ml-24 mt-20">
                <h2 class="text-6xl text-white font-bold w-50 text-left font-['Sofia Sans Extra Condensed, sans-serif']">Hungry? Craving Tasty Food?</h2>
                <h2 class="mt-8 text-lg font-normal w-96">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur laborum aperiam perferendis a neque velit reiciendis perspiciatis? Aut, ipsam itaque.
                </h2>
                <button class="mx-2 mt-8 bg-transparent rounded-lg font-bold hover:bg-red-600 hover:text-white hover:border-red-600 text-amber-200 py-1 px-10 border border-amber-200">Order Now</button>
                <button class="mx-2 mt-8 bg-transparent rounded-lg font-bold hover:bg-red-600 hover:text-white hover:border-red-600 text-amber-200 py-1 px-10 border border-amber-200">Book a Table</button>
            </div>
            <div class="flex flex-row">
                <img  class="object-contain -mt-16 mr-48 mb-30" src="{% static 'Shop/images/tests/hero-image.png'%}" alt="">
            </div>
        </section>
</body>
</html>