{% load static %}
<!-- Static files -->
<h2 class="mt-16 mb-6 font-bold text-center text-3xl">OUR DELIGHTFUL MENU</h2>
<div class="bg-black flex flex-col mx-auto items-center h-screen">
    <!-- cards ml-32-->
    <div class="flex flex-row my-2">
        <div class="bg-stone-900 items-center overflow-visible justify-center border-zinc-900 rounded-lg shadow-md h-72 w-56 mx-2">
            <a href="#">
                <img class="rounded-t-lg" src="{% static 'Shop/images/salad.png' %}" alt="" />
            </a>
            <div class="p-[2px]">
                <a href="#">
                    <h5 class="mb-2 text-center text-lg font-bold tracking-tight text-gray-200">Dish Title</h5>
                </a>
                <p class="mb-3 text-center font-bold text-sm text-gray-200">$ 44</p>
            </div>
        </div>
        <div class="bg-stone-900 items-center overflow-visible justify-center border-zinc-900 rounded-lg shadow-md h-72 w-56 mx-2">
            <a href="#">
                <img class="rounded-t-lg" src="{% static 'Shop/images/salad.png' %}" alt="" />
            </a>
            <div class="p-[2px]">
                <a href="#">
                    <h5 class="mb-2 text-center text-lg font-bold tracking-tight text-gray-200">Dish Title</h5>
                </a>
                <p class="mb-3 text-center font-bold text-sm text-gray-200">$ 44</p>
            </div>
        </div>
        <div class="bg-stone-900 items-center overflow-visible justify-center border-zinc-900 rounded-lg shadow-md h-72 w-56 mx-2">
            <a href="#">
                <img class="rounded-t-lg" src="{% static 'Shop/images/salad.png' %}" alt="" />
            </a>
            <div class="p-[2px]">
                <a href="#">
                    <h5 class="mb-2 text-center text-lg font-bold tracking-tight text-gray-200">Dish Title</h5>
                </a>
                <p class="mb-3 text-center font-bold text-sm text-gray-200">$ 44</p>
            </div>
        </div>
        <div class="bg-stone-900 items-center overflow-visible justify-center border-zinc-900 rounded-lg shadow-md h-72 w-56 mx-2">
            <a href="#">
                <img class="rounded-t-lg" src="{% static 'Shop/images/salad.png' %}" alt="" />
            </a>
            <div class="p-[2px]">
                <a href="#">
                    <h5 class="mb-2 text-center text-lg font-bold tracking-tight text-gray-200">Dish Title</h5>
                </a>
                <p class="mb-3 text-center font-bold text-sm text-gray-200">$ 44</p>
            </div>
        </div>
    </div>
    <div class="flex flex-row my-2">
        <div class="bg-stone-900 items-center overflow-visible justify-center border-zinc-900 rounded-lg shadow-md h-72 w-56 mx-2">
            <a href="#">
                <img class="rounded-t-lg" src="{% static 'Shop/images/salad.png' %}" alt="" />
            </a>
            <div class="p-[2px]">
                <a href="#">
                    <h5 class="mb-2 text-center text-lg font-bold tracking-tight text-gray-200">Dish Title</h5>
                </a>
                <p class="mb-3 text-center font-bold text-sm text-gray-200">$ 44</p>
            </div>
        </div>
        <div class="bg-stone-900 items-center overflow-visible justify-center border-zinc-900 rounded-lg shadow-md h-72 w-56 mx-2">
            <a href="#">
                <img class="rounded-t-lg" src="{% static 'Shop/images/salad.png' %}" alt="" />
            </a>
            <div class="p-[2px]">
                <a href="#">
                    <h5 class="mb-2 text-center text-lg font-bold tracking-tight text-gray-200">Dish Title</h5>
                </a>
                <p class="mb-3 text-center font-bold text-sm text-gray-200">$ 44</p>
            </div>
        </div>
        <div class="bg-stone-900 items-center overflow-visible justify-center border-zinc-900 rounded-lg shadow-md h-72 w-56 mx-2">
            <a href="#">
                <img class="rounded-t-lg" src="{% static 'Shop/images/salad.png' %}" alt="" />
            </a>
            <div class="p-[2px]">
                <a href="#">
                    <h5 class="mb-2 text-center text-lg font-bold tracking-tight text-gray-200">Dish Title</h5>
                </a>
                <p class="mb-3 text-center font-bold text-sm text-gray-200">$ 44</p>
            </div>
        </div>
        <div class="bg-stone-900 items-center overflow-visible justify-center border-zinc-900 rounded-lg shadow-md h-72 w-56 mx-2">
            <a href="#">
                <img class="rounded-t-lg" src="{% static 'Shop/images/salad.png' %}" alt="" />
            </a>
            <div class="p-[2px]">
                <a href="#">
                    <h5 class="mb-2 text-center text-lg font-bold tracking-tight text-gray-200">Dish Title</h5>
                </a>
                <p class="mb-3 text-center font-bold text-sm text-gray-200">$ 44</p>
            </div>
        </div>
    </div>
</div>
